.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Display-update {
  width: 60%;
  height: 3em;
  display: flex;
  margin: 0 21% 0 21%;
  align-content: center;
  justify-content: space-between;
}

.Update-time {
  margin: auto 0 auto 0;
  width: fit-content;
  text-align: center;
}

.Update-button {
}

.Table-div {
  align-items: center;
}

.Display-table {
  width: 60%;
  margin: 0.3em auto 0.7em auto;

  border-collapse:separate; 
  border-spacing:1em;
}

.Display-table-td {
  width: 50%;

  border-style: solid;
  border-radius: 1rem;
  box-sizing: border-box;
}

.Display-line {
  display: flex;
  justify-content: center;
}

.Display-box {
  display: flex;

  height: 10em;
  width: fit-content;
  margin: auto;

  align-items: center;
  min-width: fit-content;
}

.Display-text {
  margin: auto 1rem auto 1rem;
}

.Display-icon {
  display: block;
  max-width:230px;
  max-height:100px;
  width: auto;
  height: auto;
}

.Auto-button{
  font-size: 30px;

  padding: 15px 32px;
  border-radius: 10%;
  border-width: 3px;
}

.Auto-button-off{
  background-color: grey;
  border-color: black;
}

.Auto-button-on{
  background-color: #2fb8fca7;
  border-color: #0071aaa7;
}